{% extends "layout.html" %}

{% block title %}
    portfolio
{% endblock %}

{% block main %}

        <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{(totalStocksPrice + cash)|usd}}</b></td>
            </tr>
        </tfoot>
        <tbody>
            {% for stock in stocks %}
            <tr>
            {% for i in stock %}
                {% if i != "userId" %}
                    <td>{% if i == "price" or i == "total" %}{{stock[i]|usd}}
                    {% else %}{{stock[i]}} {% endif %} </td>
                {% endif %}

            {% endfor %}
            </tr>
            {% endfor %}

            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{cash|usd}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
